---
import Layout from './Layout.astro';
import Pills from '../components/Pills';
import { DateTime } from 'luxon';

const {
  frontmatter: {
    author,
    authorProfileImageSrc,
    authorProfileImageAlt,
    postedIsoDate,
    title,
    tags,
    /**
     * Provided from remark Markdown plugin
     */
    estReadTimeMinutes,
  },
} = Astro.props;
const posted = DateTime.fromISO(postedIsoDate);
---

<Layout title={title}>
  {
    tags && tags.length && (
      <div class='pb-6'>
        <Pills pills={tags} />
      </div>
    )
  }
  <h1 class='text-4xl font-bold pb-8'>{title}</h1>
  <div class='flex flex-row items-center space-x-2 pb-6'>
    <img
      alt={authorProfileImageAlt}
      height={80}
      width={80}
      src={authorProfileImageSrc}
      class='rounded-full bg-gradient-to-r from-slate-500 to-teal-500 p-0.5 filter dark:from-slate-500 dark:to-rose-500'
    />
    <div class='flex flex-col space-y-1'>
      <span class='text-md text-gray-600 dark:text-gray-200'>
        {author}
      </span>
      <span class='text-md text-gray-600 dark:text-gray-200'>
        {`${posted.monthLong} ${posted.day}, ${posted.year}`} •{' '}
        {`${estReadTimeMinutes}`}
      </span>
    </div>
  </div>
  <article
    class='prose dark:prose-invert prose-h1:text-3xl prose-h1:font-bold prose-h2:text-2xl prose-h2:font-bold prose-h3:text-xl prose-h3:font-bold'
  >
    <slot />
  </article>
</Layout>
